@charset "utf-8";

#webgl{
    font-size: 14px;
}



#model_webgl{
	margin: 0px;
}

#functions{
    margin: 0px;
}

#gui {
    position: absolute; 
    z-index: 2;
    /* display: inline; */
    right: 0px;
    top: 15px;
  }